
body {
	margin: 0;
}

a {
	color: #84868a;
}

.view {
	width: 687px;
	margin: 150px auto;
	font-family: sans-serif;
	color: #7F7F7F;
	font-weight: 200;
	text-align: center;
}

.view__logo {
	width: 100px;
	height: 100px;
}

.view__title {
	font-weight: 200;
}

.view__github-link {
	margin: 40px auto 10px;
}

.view-heading {
	margin: 10px auto 10px;
}

.view-heading a {
	text-decoration: none;
}

.view-heading__code-open {
	margin-top: 30px;
	color: #9ea0a2;
	font-size: 12px;
	cursor: pointer;
}

.view-code {
	position: relative;
}

.view-code__inner {
	padding: 40px;
	text-align: left;
	margin: 30px auto;
	max-height: 400px;
}

.view-code__link {
	color: #9ea0a2;
	font-size: 12px;
	position: absolute;
	margin: 15px 20px;
	bottom: 0;
	right: 0;
	cursor: pointer;
}

.view-plot {
	vertical-align: top;
	margin: 0 auto;
	margin-top: 180px;
}

.elm-plot {
	margin: 0 auto;
}

.view__footer {
	margin: 100px auto 30px;
	font-size: 14px;
}

/* Standard styles */

.elm-plot__labels {
	fill: #565656;
}
