
body {
	margin: 0;
}

a {
	color: #84868a;
	text-decoration: none;
	cursor: pointer;
}

.view {
	font-family: sans-serif;
	color: #7F7F7F;
	font-weight: 200;
	margin: 200px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.view--left {
	min-width: 300px;
	padding: 0 40px;
	flex-grow: 1;
}

.view--right {
	flex-grow: 2;
}

.view__logo {
	width: 100px;
	height: 100px;
}

.view__title {
	font-weight: 200;
}

.view__github-link {
	margin: 40px auto 10px;
}

.view-heading {
	margin: 10px auto 10px;
}

.view-heading__code-open {
	margin-top: 30px;
	color: #9ea0a2;
	font-size: 12px;
	cursor: pointer;
}

.view-code {
	position: relative;
}

.view-code__inner {
	text-align: left;
	max-height: 400px;
}

.view-code__link {
	color: #9ea0a2;
	font-size: 12px;
	position: absolute;
	margin: 15px 20px;
	bottom: 0;
	right: 0;
	cursor: pointer;
}

.view-plot {
	vertical-align: top;
	margin: 0 auto;
	margin-bottom: 180px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.view-plot--left {
	padding-right: 40px;
}

.view-plot--right {
	padding-left: 40px;
}

.elm-plot {
	margin: 0 auto;
}

.elm-plot__labels {
	fill: #565656;
}
