
body {
	margin: 0;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

a {
	color: #84868a;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	opacity: 0.75;
}



/* View */


.view {
	font-family: sans-serif;
	color: #7F7F7F;
	font-weight: 200;
	margin: 10em auto 0px;
	overflow: hidden;
}

.view--left {
	display: inline-block;
	width: 25%;
	float: left;
}

.view--right {
	display: inline-block;
	width: 75%;
	float: right;
}



/* View header */


.view-header {
	text-align: right;
	padding-right: 2em;
}

.view-header h1 {
	margin-top: 0;
}

.view-header__title {
	font-weight: 200;
}



/* View example */


.view-plot {
	vertical-align: top;
	margin: 0 auto;
	margin-bottom: 10em;
	display: flex;
	justify-content: flex-end;
}


.view-plot--left, .view-plot--right {
	padding-right: 3em;
	width: 50%;
}


.view-footer {
	display: none;
}


.view-toggler {
	text-align: right;
}

.view-toggler * {
	color: #9ea0a2;
	font-size: 0.75em;
	cursor: pointer;
}


.view-code {
	position: relative;
}


.view-link {
	color: #9ea0a2;
	position: absolute;
	margin: 15px 20px;
	bottom: 0;
	right: 0;
	cursor: pointer;
	display: none;
	font-size: 0.75em;
}


.view-code:hover .view-link {
	display: block;
}


.view-code__inner {
	text-align: left;
	height: 375px;
	font-size: 0.75em;
}


.elm-plot {
	margin: 0 auto;
}

.elm-plot__labels {
	fill: #565656;
	font-size: 0.8em;
}

.elm-plot__hint {
	font-size: 0.8em;
}


/* Smaller screens */


@media (max-width: 1500px) {
	.view-plot, .view-footer {
		display: block;
	}

	.view-code__inner {
		font-size: 0.85em;
	}

	.view-plot__closed .view-code {
		display: none;
	}

	.view-plot--left, .view-plot--right {
		width: 100%;
	}

	.view-plot--right {
		padding-top: 1em;
		padding-left: 3em;
	}

	.view-code__inner {
		height: auto;
		max-height: 480px;
	}

	.view-code .view-link {
		display: none !important;
	}

	.view-toggler .view-link {
		display: inline-block !important;
		margin: 0;
		position: relative;
	}
}


@media (max-width: 1500px) {
	body {
		font-size: 16px;
	}
}


@media (max-width: 1000px) {
	body {
		font-size: 14px;
	}
}


@media (max-width: 800px) {
	body {
		font-size: 8px;
	}
}

@media (max-width: 600px) {
	body {
		font-size: 5px;
	}

	.elm-plot__labels {
		font-size: 2em;
	}
}
